<h4 class="page-header">재고실사 결과</h4>
<div ng-controller="AuditResultController as table" class="">
    
   <div class="panel panel-default">
      <div class="panel-heading">
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-purple btn-sm">Reload</button>
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-green btn-sm pr">Download to Excel</button>
         <div>2015 4/4 분기 실사결과</div>
      </div>
      <div class="table-responsive">
	      <table ng-table="table.tableParams5" class="table table-bordered">
	         <tbody>
	            <tr ng-repeat="item in $data">
	               <td data-title="'No.'">{{item.name}}</td>               
	               <td data-title="'품번'"><a  ui-sref="app.change">{{item.name}}</a></td>               
	               <td data-title="'품명'">{{item.name}}</td>               
	               <td data-title="'창고'">{{item.name}}</td>               
	               <td data-title="'로케이션'">{{item.name}}</td>               
	               <td data-title="'ERP수량'">{{item.name}}</td>               
	               <td data-title="'실사수량'">{{item.name}}</td>               
	               <td data-title="'수량차이'">{{item.name}}</td>               
	               <td data-title="'단위'">{{item.name}}</td>               
	               <td data-title="'단가'">{{item.name}}</td>               
	            </tr>
	         </tbody>
	      </table>
      </div>
   </div>
   
</div>