<h4 class="page-header">재고실사 조회</h4>
<div ng-controller="AuditController as table" class="">
    
   <div class="panel panel-default">
      <div class="panel-heading">
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-purple btn-sm">Reload</button>
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-green btn-sm pr">Download to Excel</button>
      </div>
      <div class="table-responsive">
	      <table ng-table="table.tableParams5" class="table table-bordered">
	         <tbody>
	            <tr ng-repeat="item in $data">
	               <td data-title="'No.'">{{item.name}}</td>               
	               <td data-title="'재고조사명'"><a  ui-sref="app.auditresult">{{item.name}}</a></td>               
	               <td data-title="'실사기간'">{{item.name}}</td>               
	               <td data-title="'실사일'">{{item.name}}</td>               
	            </tr>
	         </tbody>
	      </table>
      </div>
   </div>
   
</div>