<h4 class="page-header">품목전환 조회</h4>
<div ng-controller="TransferController as table" class="">
   
   <div class="pt0 panel-body text-sm">
		<table class="table table-condensed b">			
			<tr>				
				<td>
					<div class="form-inline">
						<label class="pt col-md-1">기간</label>		
						<div class="col-md-2 pb0" ng-controller="DatepickerDemoCtrl as dp">	
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.df" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default btn-xs">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
						<div class="col-md-3 pb0" ng-controller="DatepickerDemoCtrl as dp">								
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.dt" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default btn-xs">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
			      		<button type="button" ng-click="addCode()" class="btn btn-success">조회</button>
					</div>
				</td>
			</tr>
		</table>      	   
	
   </div>
 
   <div class="panel panel-default">
      <div class="panel-heading">
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-purple btn-sm">Reload</button>
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-green btn-sm pr">Download to Excel</button>
         <div class="panel-title">G10 - 110456 검색</div>
      </div>
      <div class="table-responsive">
	      <table ng-table="table.tableParams5" class="table table-bordered">
	         <tbody>
	            <tr ng-repeat="item in $data">
	               <td data-title="'No.'">{{item.name}}</td>               
	               <td data-title="'품목번호'">{{item.name}}</td>               
	               <td data-title="'품명'">{{item.name}}</td>               
	               <td data-title="'규격'">{{item.name}}</td>               
	               <td data-title="'단위'">{{item.name}}</td>               
	               <td data-title="'수량'">{{item.name}}</td>               
	               <td data-title="'단가'">{{item.name | number:0}}</td>               
	               <td data-title="'기준사업장'">{{item.name | number:0}}</td>               
	               <td data-title="'대상사업장'">{{item.name | number:0}}</td>               
	               <td data-title="'작업일'">{{item.name | number:0}}</td>               
	               <td data-title="'작업자'">{{item.name | number:0}}</td>               
	            </tr>
	         </tbody>
	      </table>
      </div>
   </div>
   
</div>