<h4 class="page-header">품목전환
	<small>
		여러개의 품목을 하나로 통합한다.
	</small>
</h4>
<div ng-controller="DoChangeController as table" class="">
   
   <table class="table table-borderless table-condensed b text-sm">
      <tr>
      	<td>
	      <div class="p0"> 
	        <label class="col-md-2">기준사업장</label>    
	        <div class="col-md-2 p0"> 
		      	<select name="select" ng-model="select" class="form-control">
		            <option value="">창고</option>
		            <option value="1">G10</option>
		            <option value="2">G20</option>
		         </select>
	         </div>
	      </div>
	      <div class="p0"> 
	        <label class="col-md-2">대상사업장</label>    
	        <div class="col-md-2"> 
		      	<select name="select" ng-model="select" class="form-control">
		            <option value="">창고</option>
		            <option value="1">G10</option>
		            <option value="2">G20</option>
		         </select>
	         </div>
	      </div>
	      
	    </td>
	  </tr>
	  <tr>
	  	<td>
	  		<div class="p0">
			  <div class="col-md-1">		  	  
				 <label>전환일</label>
			  </div>
		      <div class="col-md-3 p0" ng-controller="DatepickerDemoCtrl as dp">	
				 <p class="input-group">			
		            <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.df" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
		            close-text="Close" class="form-control" />
		            <span class="input-group-btn">
		               <button type="button" ng-click="dp.open($event)" class="btn btn-default btn-xs">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
		       </div>
		     </div>
	     </td>
      </tr>
      
      <tr>
      	<td> 
	       <div class="p0"> 
	        <label class="col-md-1">전환사유</label>  
	        <div class="col-md-8 p0">   
	      		<input type="text" class="form-control"/>
	      	</div>
	      	<div class="col-md-3 text-right">
	      		<button ng-click="table.viewInsChange()" class="btn btn-default">품목추가</button> 
	      	</div>
	      </div>
	    </td>
	  </tr>
    </table>
   
   <!-- Editable row-->
   <div class="table-responsive">
	   <table class="table table-bordered table-hover bg-white">
	      <tr style="font-weight: bold">
	         	<td>No.</td>
	         	<td>기준</td>
	            <td>거래그룹</td>
	            <td>라인</td>
	            <td>품번</td>
	            <td>내역1</td>
	            <td>내역2</td>
	            <td>수량</td>
	            <td>단위</td>
	            <td>장소</td>
	            <td>LOT/SN</td>
	      </tr>
	      <tr ng-repeat="item in table.users">
	         <td>
	            <span>{{$index+1}}</span>
	         </td>
	         <td>
	            <span>{{item.itemno}}</span>
	         </td>
	         <td><span>{{ item.name }}</span></td>	         
	         <td><span>{{ item.name }}</span></td>	         
	         <td><span>{{ item.name }}</span></td>	         
	         <td><span>{{ item.name }}</span></td>	         
	         <td><span>{{ item.name }}</span></td>	         
	         <td><span>Unit</span></td>
	         <td><span>Unit</span></td>
	         
	         <td><span>in stock</span></td>
	         <td><span>{{item.unitprice | number:0}}</span></td>
	         
	      </tr>
	   </table>
   </div>
   
   <div class="btn-form pull-right">
      <button type="button" class="btn btn-success">완료</button>
   </div>
   
</div>