<h4 class="page-header">자재이동
	<small>
		자재 이동 처리 기능 
	</small>
</h4>
<div ng-controller="DoTransferController as table" class="">
   
   <table class="table table-borderless table-condensed b text-sm">
      <tr>
      	<td>
	      <div class="p0"> 
	        <label class="col-md-2">기준사업장</label>    
	        <div class="col-md-2 p0"> 
		      	<select name="select" ng-model="select" class="form-control">
		            <option value="">창고</option>
		            <option value="1">G10</option>
		            <option value="2">G20</option>
		         </select>
	         </div>
	      </div>
	      <div class="p0"> 
	        <label class="col-md-2">대상사업장</label>    
	        <div class="col-md-2"> 
		      	<select name="select" ng-model="select" class="form-control">
		            <option value="">창고</option>
		            <option value="1">G10</option>
		            <option value="2">G20</option>
		         </select>
	         </div>
	      </div>
	      
	    </td>
	  </tr>
	  <tr>
	  	<td>
	  		<div class="p0">
			  <div class="col-md-1">		  	  
				 <label>이동일</label>
			  </div>
		      <div class="col-md-3 p0" ng-controller="DatepickerDemoCtrl as dp">	
				 <p class="input-group">			
		            <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.df" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
		            close-text="Close" class="form-control" />
		            <span class="input-group-btn">
		               <button type="button" ng-click="dp.open($event)" class="btn btn-default btn-xs">
		                  <em class="fa fa-calendar"></em>
		               </button>
		            </span>
		         </p>
		       </div>
		     </div>
	     </td>
      </tr>
      
      <tr>
      	<td> 
	       <div class="p0"> 
	        <label class="col-md-1">이동사유</label>  
	        <div class="col-md-8 p0">   
	      		<input type="text" class="form-control"/>
	      	</div>
	      </div>
	    </td>
	  </tr>
    </table>
   
   <!-- Editable row-->
   <div class="table-responsive">
	   <table class="table table-bordered table-hover bg-white">
	      <tr style="font-weight: bold">
	         	<td>No.</td>
	         	<td>품번</td>
	            <td>품명</td>
	            <td>기준장소</td>
	            <td>기준LOT/SN</td>
	            <td>대상장소</td>
	            <td>대상LOT/SN</td>
	            <td>단위</td>
	            <td>수량</td>
	            <td>보유재고</td>
	            <td>단가</td>
	            <td>금액</td>
	            <td>기능</td>
	      </tr>
	      <tr ng-repeat="item in table.users">
	         <td>
	            <span>{{$index+1}}</span>
	         </td>
	         <td>
	            <span editable-text="item.itemno" e-name="itemno" e-form="rowform" 
	            	e-style="width: 80px" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td><span>{{ item.name }}</span></td>	         
	         <td>
	            <span editable-text="item.loc" e-name="loc" e-form="rowform" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td>
	            <span editable-text="item.lotsn" e-name="lotsn" e-form="rowform" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td>
	            <span editable-text="item.loc" e-name="loc" e-form="rowform" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td>
	            <span editable-text="item.lotsn" e-name="lotsn" e-form="rowform" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td><span>Unit</span></td>
	         <td>
	            <span editable-text="item.relsqty" e-name="relsqty" e-form="rowform" 
	            	e-style="width: 50px" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td><span>in stock</span></td>
	         <td><span>{{item.unitprice | number:0}}</span></td>
	         <td><span>{{item.unitprice | number:0}}</span></td>
	         	         
	         <td style="white-space: nowrap">
	            <!-- form-->
	            <form editable-form="" name="rowform" onbeforesave="table.saveUser($data, item.id)" ng-show="rowform.$visible" shown="table.inserted == item" class="form-buttons form-inline">
	               <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
	                  <em class="fa fa-save"></em>
	               </button>
	               <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); table.removeItem($index)" title="Cancel" class="btn btn-sm btn-default">
	                  <em class="fa fa-times"></em>
	               </button>
	            </form>
	            <div ng-show="!rowform.$visible" class="buttons">
	               <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
	                  <em class="fa fa-pencil"></em>
	               </button>
	               <button ng-click="table.removeItem($index)" title="Delete" class="btn btn-sm btn-danger">
	                  <em class="fa fa-trash"></em>
	               </button>
	            </div>
	         </td>
	      </tr>
	   </table>
   </div>
   
   <div class="btn-form pull-right">
   	  <button ng-click="table.addItem()" class="btn btn-default">품목추가</button> 
      <button type="button" class="btn btn-success">출고처리</button>
   </div>
   
</div>