<h4 class="page-header">재고조회
	<small>
	 	WMS의 재고를 조회합니다
	</small>
</h4>
<div ng-controller="InventoryController" class="container-fluid">
   
   <div class="pt0 panel-body text-sm">
		<table class="table b">
			<tr>				
				<td>
					<div class="form-inline">
						<label class="pt col-md-1">창고</label>	
						<div class="form-group">
							<select name="select" ng-model="whCd" class="form-control">
					            <option value="">전체</option>
					            <option value="1">G10</option>
					            <option value="2">G20</option>
					         </select>
					         <button type="button" ng-click="search(whCd, itemCd, itemNm)" class="btn btn-success">조회</button>
				         </div>
		            </div>
				</td>
			</tr>
			<tr>				
				<td>
					<div class="form-inline">
						<label class="pt col-md-1">품목번호</label>		
						<div class="col-md-4 pb0">	
							<input type="text" ng-model="itemCd"/>							
		                    <button type="button" ng-click="search(whCd, itemCd, itemNm)" class="btn btn-success" enter-Event= "search(whCd, itemCd, itemNm)">조회</button>
	                    </div>
	                    <label class="pt col-md-1">품목명</label>
						<div class="col-md-4 pb0">	
							<input type="text" ng-model="itemNm"/>
				      		<button type="button" ng-click="search(whCd, itemCd, itemNm)" class="btn btn-success" enter-Event= "search(whCd, itemCd, itemNm)">조회</button>
	                    </div>
					</div>
				</td>
			</tr>
		</table>      	   
	
   </div>
  <div ui-grid="gridOptions" ui-grid-pagination="" class="table-uigrid text-sm"></div>
  
   
</div>