<h4 class="page-header">반품조회</h4>
<div ng-controller="DefectController as table" class="">
   
   <div class="p0 panel-body text-sm">
		<table class="table b">
			<tr>				
				<td>
					<div class="form-inline">
						<label class="pt col-md-1">조건</label>	
						<div class="form-group">
							<select name="select" ng-model="select" class="form-control">
					            <option value="">창고</option>
					            <option value="1">G10</option>
					            <option value="2">G20</option>
					         </select>
				         </div>
						
		            </div>
				</td>
			</tr>
			<tr>				
				<td>
					<div class="form-inline">
						<label class="pt col-md-1">기간</label>		
						<div class="col-md-4 pb0" ng-controller="DatepickerDemoCtrl as dp">	
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.df" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
						<div class="col-md-4 pb0" ng-controller="DatepickerDemoCtrl as dp">	
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.dt" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
			      		<button type="button" ng-click="addCode()" class="btn btn-success">조회</button>
					</div>
				</td>
			</tr>
		</table>      	   
	
   </div>
 
   <div class="panel panel-default p0">
      <div class="panel-heading">
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-purple btn-sm">Reload</button>
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-green btn-sm pr">Download to Excel</button>
      	 <div class="panel-title">결과</div>
      </div>
      <div class="table-responsive">
	      <table ng-table="table.tableParams5" class="table table-bordered">
	         <tbody>
	            <tr ng-repeat="item in $data">
	               <td data-title="'품목번호'">{{item.name}}</td>               
	               <td data-title="'품명'">{{item.name}}</td>               
	               <td data-title="'규격'">{{item.name}}</td>               
	               <td data-title="'단위'">{{item.name}}</td>               
	               <td data-title="'수량'">{{item.name}}</td>               
	               <td data-title="'처리자'">{{item.name | number:0}}</td>               
	               <td data-title="'작업일'">{{item.name | number:0}}</td>               
	            </tr>
	         </tbody>
	      </table>
      </div>
   </div>
   
</div>