<h4 class="page-header">무상입고 처리</h4>
<div ng-controller="NoPoReceivingController as table" class="">
  
  <div class="panel-body p0"> 
   <div class="form-inline">
      <!-- <div class="form-group">
      	 <label class="col-md-4 control-label">문서번호</label>
            <div class="col-md-8">
               <input type="text" placeholder="text" class="form-control" />
            </div>   	 
      </div> -->
      
      <div class="form-group">
	      <div class="col-md-3">
	      	 <label>입고일</label>
	      </div>
	      <div class="col-md-4 p0">	 
	         <select name="select" ng-model="select" class="form-control">
	            <option value="">2015</option>
	            <option value="1">2016</option>
	            <option value="2">2017</option>
	         </select>
	      </div>
	      <div class="col-md-3 p0">
	         <select name="select" ng-model="select" class="form-control">
	            <option value="">11</option>
	            <option value="1">1</option>
	            <option value="2">2</option>
	         </select>
	      </div>
	      <div class="col-md-2 p0">
	         <select name="select" ng-model="select" class="form-control">
	            <option value="">10</option>
	            <option value="1">11</option>
	            <option value="2">12</option>
	            <option value="2">13</option>
	         </select>
	      </div>
      </div>
      <div class="form-group pull-right">      
      	<select name="select" ng-model="select" class="form-control">
            <option value="">창고</option>
            <option value="1">G10</option>
            <option value="2">G20</option>
         </select>
      </div>
      
   </div>   
	      
	<div class="form-inline">      
	   <div class="form-group">
      	 <label class="col-md-4 control-label pt">입고내역</label>
         <div class="col-md-8">
            <input type="text" size="80" placeholder="text" class="form-control" />
         </div>   	 
      </div>
	     
	</div>
   </div>
   
   <!-- Editable row-->
   
   <div class="table-responsive">
	   <table class="table table-bordered table-hover bg-white text-sm">
	      <tr style="font-weight: bold">
	         	<td>No.</td>
	         	<td>품번</td>
	            <td>품명</td>
	            <td>규격</td>
	            <td>장소</td>
	            <td>LOT/SN</td>
	            <td>단위</td>
	            <td>수량</td>
	            <td>단가</td>
	            <td>금액</td>
	            <td>기능</td>
	      </tr>
	      <tr ng-repeat="item in table.users">
	         <td>
	            <span>{{$index+1}}</span>
	         </td>
	         <td>
	            <span editable-text="item.itemno" e-name="itemno" e-form="rowform" onbeforesave="" e-required="">{{ item.itemno || &apos;0&apos; }}</span>
	         </td>
	         <td><span>{{ item.name }}</span></td>
	         <td><span>규격</span></td>
	         <td>
	         	<span editable-text="item.recvqty" e-name="recvqty" e-form="rowform" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td>
	         	<span editable-text="item.recvqty" e-name="recvqty" e-form="rowform" onbeforesave="" e-required="">{{ item.recvqty || &apos;0&apos; }}</span>
	         </td>
	         <td><span>단위</span></td>
	         <td><span>
	                {{item.orderqty}}
	         		<button type="button" class="btn-xs text-sm btn-default"><em class="fa fa-times"></em></button>
	         	</span>
	         </td>
	         <td><span>단가</span></td>
	        
	         <td><span>{{item.unitprice | number:0}}</span></td>
	         
	         <td style="white-space: nowrap">
	            <!-- form-->
	            <form editable-form="" name="rowform" onbeforesave="table.saveUser($data, item.id)" ng-show="rowform.$visible" shown="table.inserted == item" class="form-buttons form-inline">
	               <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-info">
	                  <em class="fa fa-save"></em>
	               </button>
	               <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
	                  <em class="fa fa-times"></em>
	               </button>
	            </form>
	            <div ng-show="!rowform.$visible" class="buttons">
	               <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
	                  <em class="fa fa-pencil"></em>
	               </button>
	            </div>
	         </td>
	      </tr>
	   </table>
   </div>
   <div class="btn-form pull-left">
      <button ng-click="table.addUser()" class="btn btn-default">품목추가</button>
   </div>
   <div class="btn-form pull-right">
      <button type="button" class="btn btn-success">입고처리</button>
   </div>
   
</div>