<h4 class="page-header">발주서조회</h4>
<div ng-controller="PoController" class="">
   
   <div class="pt0 panel-body text-sm">
		<table class="table b">
			
			<tr>
				<td class="col-md-2">조건조회</td>
				<td>
					<div class="row p0">
						<label class="pt col-md-1">기간</label>		
						<div class="col-md-4 pb0" ng-controller="DatepickerDemoCtrl as dp">	
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.df" is-open="dp.opened" min-date="dp.minDate" max-date="'2015-06-22'" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default btn-xs">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
						<div class="col-md-4 pb0" ng-controller="DatepickerDemoCtrl as dp">	
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.dt" is-open="dp.opened" min-date="dp.minDate" max-date="'2015-06-22'" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default btn-xs">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
			      		<button type="button" ng-click="addCode()" class="btn btn-success">조회</button>
					</div>
				</td>
			</tr>
		</table>      	   
	
   </div>
 
   <div id="uigrid-demo" ui-grid-pinning ui-grid="gridOptions"  class="table-uigrid text-sm"></div>
   
</div>