<h4 class="page-header">입고조회</h4>
<div ng-controller="RecvController as table" class="">
   
   <div class="pt0 panel-body text-sm">
		<table class="table b">
			<tr>				
				<td>
					<div class="form-inline">
						<label class="pt col-md-1">조건</label>	
						<div class="form-group">
							<select name="select" ng-model="select" class="form-control">
					            <option value="">창고</option>
					            <option value="1">G10</option>
					            <option value="2">G20</option>
					         </select>
				         </div>
						<div class="form-group">
							<select name="select" ng-model="select" class="form-control">
					            <option value="">입고종류</option>
					            <option value="2">전체</option>
					            <option value="1">발주입고</option>
					            <option value="2">무상입고</option>
					            <option value="2">부외재고입고</option>
					            <option value="2">환입</option>
					         </select>
				         </div>
						 <div class="form-group" ng-show="true">
			               <div class="col-sm-12">
			                  <label class="radio-inline c-radio">
			                     <input id="inlineradio1" type="radio" name="i-radio" value="option1" checked="checked" />
			                     <span class="fa fa-circle"></span>전체</label>
			                  <label class="radio-inline c-radio">
			                     <input id="inlineradio2" type="radio" name="i-radio" value="option2" />
			                     <span class="fa fa-circle"></span>미입</label>			                  
			               </div>
		               </div>
		            </div>
				</td>
			</tr>
			<tr>				
				<td>
					<div class="form-inline">
						<label class="pt col-md-1">기간</label>		
						<div class="col-md-4 pb0" ng-controller="DatepickerDemoCtrl as dp">	
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.df" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
						<div class="col-md-4 pb0" ng-controller="DatepickerDemoCtrl as dp">	
							<p class="input-group p0">			
	                        <input type="text" datepicker-popup="{{dp.format}}" ng-model="dp.dt" is-open="dp.opened" min-date="dp.minDate" max-date="dp.initDate" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true"
	                        close-text="Close" class="form-control" />
	                        <span class="input-group-btn">
	                           <button type="button" ng-click="dp.open($event)" class="btn btn-default">
	                              <em class="fa fa-calendar"></em>
	                           </button>
	                        </span>
	                        </p>
	                    </div>
			      		<button type="button" ng-click="addCode()" class="btn btn-success">조회</button>
					</div>
				</td>
			</tr>
		</table>      	   
	
   </div>
 
   <div class="panel panel-default">
      <div class="panel-heading">
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-purple btn-sm">Reload</button>
         <button ng-click="table.tableParams5.reload()" class="pull-right btn btn-green btn-sm pr">Download to Excel</button>
         <div class="panel-title">G10 - 무상입고 조회</div>
      </div>
      <div class="table-responsive">
	      <table ng-table="table.tableParams5" class="table table-bordered">
	         <tbody>
	            <tr ng-repeat="item in $data">
	               <td data-title="'문서번호'">{{item.name}}</td>               
	               <td data-title="'발주코드'">{{item.name}}</td>               
	               <td data-title="'품목번호'">{{item.name}}</td>               
	               <td data-title="'품명'">{{item.name}}</td>               
	               <td data-title="'규격'">{{item.name}}</td>               
	               <td data-title="'단위'">{{item.name}}</td>               
	               <td data-title="'수량'">{{item.name}}</td>               
	               <td data-title="'단가'">{{item.name | number:0}}</td>               
	               <td data-title="'처리자'">{{item.name | number:0}}</td>               
	               <td data-title="'작업일'">{{item.name | number:0}}</td>               
	            </tr>
	         </tbody>
	      </table>
      </div>
   </div>
   
</div>