<div class="ngdialog-message" ng-controller="InsChangeController as table">
	<h3>품목전환 입력</h3>
	
	<div class="panel-body text-center text-sm table-responsive ㅔ0">
		<table class="table-bordered table-condensed">
			<tr>
				<td class="bg-gray"></td>
				<td class="bg-gray">그룹번호</td>
				<td class="bg-gray">라인번호</td>
				<td class="bg-gray">품번</td>
				<td class="bg-gray">내역1</td>
				<td class="bg-gray">내역2</td>
				<td class="bg-gray">보유재고</td>
				<td class="bg-gray">수량</td>
				<td class="bg-gray">단위</td>
				<td class="bg-gray">장소</td>
				<td class="bg-gray">LOT/SN</td>
			</tr>
			<tr>
				<td class="bg-gray">기점</td>
				<td class="bg-gray">1</td>
				<td class="bg-gray">1</td>
				<td class="bg-gray"><input type="text" size="8"/></td>
				<td class="bg-gray">내역1</td>
				<td class="bg-gray">내역2</td>
				<td class="bg-gray">보유재고</td>
				<td class="bg-gray"><input type="text" size="3"/></td>
				<td class="bg-gray">단위</td>
				<td class="bg-gray"><select><option>장소</option></select> </td>
				<td class="bg-gray"><input type="text" size="11"/></td>
			</tr>
			<tr>
				<td class="bg-gray">대상</td>
				<td class="bg-gray">2</td>
				<td class="bg-gray">1</td>
				<td class="bg-gray"><input type="text" size="8"/></td>
				<td class="bg-gray">내역1</td>
				<td class="bg-gray">내역2</td>
				<td class="bg-gray">보유재고</td>
				<td class="bg-gray"><input type="text" size="3"/></td>
				<td class="bg-gray">단위</td>
				<td class="bg-gray"><select><option>장소</option></select> </td>
				<td class="bg-gray"><input type="text" size="11"/></td>
			</tr>
			
		</table>
	</div>
	
	<div class="p text-center">
		<button type="button" ng-click="closeThisDialog('button')" class="btn btn-success">취소</button>
		<button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">등록</button>
	</div>
</div>