<!-- top navbar-->
<header ng-include="'app/views/partials/top-navbar.html'" class="topnavbar-wrapper"></header>
<!-- sidebar -->
<aside ng-include="'app/views/partials/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>

<!-- offsidebar
<aside ng-include="'app/views/partials/offsidebar.html'" class="offsidebar"></aside>
-->
<!-- Main section-->
<section>
   <!-- Page content-->
   <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
</section>
<!-- Page footer-->
<footer ng-include="'app/views/partials/footer.html'"></footer>