<!DOCTYPE html>
<html lang="kr" data-ng-app="gstwms">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="::pageTitle()">GST - WMS System</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}">
   <div data-preloader></div>
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>
    <script src="app/js/gstwms.js"></script>
    <script src="app/viewpages/basicinfo/js/dept.js"></script>
    <script src="app/viewpages/basicinfo/js/userinfo.js"></script>
    <script src="app/viewpages/basicinfo/js/supplier.js"></script>
    <script src="app/viewpages/basicinfo/js/items.js"></script>
    <script src="app/viewpages/basicinfo/js/locations.js"></script>
    <script src="app/viewpages/basicinfo/js/codemgmt.js"></script>
    <script src="app/viewpages/basicinfo/js/printbarcode.js"></script>
    
    <script src="app/viewpages/receiving/js/polist.js"></script>
    <script src="app/viewpages/receiving/js/poreceiving.js"></script>
    <script src="app/viewpages/receiving/js/noporeceiving.js"></script>
    <script src="app/viewpages/receiving/js/etcreceiving.js"></script>
    <script src="app/viewpages/receiving/js/receiving.js"></script>
    <script src="app/viewpages/receiving/js/defective.js"></script>
    
    <script src="app/viewpages/release/js/forproduct.js"></script>
    <script src="app/viewpages/release/js/forservice.js"></script>
    <script src="app/viewpages/release/js/foretc.js"></script>
    <script src="app/viewpages/release/js/product.js"></script>
    <script src="app/viewpages/release/js/reqforproduct.js"></script>
    <script src="app/viewpages/release/js/reqforservice.js"></script>
    <script src="app/viewpages/release/js/wofroduct.js"></script>
    <script src="app/viewpages/release/js/woforservice.js"></script>
    <script src="app/viewpages/release/js/woforetc.js"></script>
    <script src="app/viewpages/release/js/woproduct.js"></script>

    <script src="app/viewpages/inventory/js/inventory.js"></script>
    <script src="app/viewpages/inventory/js/transfer.js"></script>
    <script src="app/viewpages/inventory/js/change.js"></script>
    <script src="app/viewpages/inventory/js/audit.js"></script>    
    <script src="app/viewpages/inventory/js/dotransfer.js"></script>
    <script src="app/viewpages/inventory/js/dochange.js"></script>
</body>

</html>