<h4>공통코드 관리</h4>
<hr class="p0"/>
<div ng-controller="CodeController as table" class="">
   
   <div class="pt0 panel-body text-sm">
      <div class="row pull-right">      
      	<button type="button" ng-click="addCode()" class="btn btn-success">코드등록</button>
      </div>
	
   </div>
 
   <div id="uigrid-demo" ui-grid="table.gridOptions1"  class="table-uigrid text-sm"></div>
   
</div>