<h4>로케이션 관리</h4>
<div ng-controller="LocationController" class="text-sm">
   
   <div class="form-inline text-sm">
      <div class="form-group">
         <select name="opt" ng-model="opt" class="form-control"
         	ng-change="searchItems(opt, '')">
            <option value="">창고목록</option>
            <option value="G10">G10</option>
            <option value="G20">G20</option>
            <option value="G30">G30</option>
         </select>
      </div>
   </div>
   
   <div id="uigrid-demo" ui-grid="gridOptions"  class="table-uigrid text-sm"></div>
</div>