<h4>바코드 출력</h4>
<div ng-controller="BarcodeController as table" class="">
   
   <div class="form-inline text-sm p">
      <div class="form-group pl0">
      	 <label>발주번호
         	<input type="text"></label>
      	 <label>발주유형
         	<select type="text">
         		<option value="1">발주유형</option>
         	</select>
         </label>
      </div>
      
      <div class="form-group pull-right">      
      	<select name="select" ng-model="select" class="form-control">
            <option value="">창고</option>
            <option value="1">G10</option>
            <option value="2">G20</option>
         </select>
      </div>
      
      
      <div class="form-group pull-right">
      	 <label>입고일</label>
         <select name="select" ng-model="select" class="form-control">
            <option value="">2015</option>
            <option value="1">2016</option>
            <option value="2">2017</option>
         </select>
         <select name="select" ng-model="select" class="form-control">
            <option value="">11</option>
            <option value="1">1</option>
            <option value="2">2</option>
         </select>
         <select name="select" ng-model="select" class="form-control">
            <option value="">10</option>
            <option value="1">11</option>
            <option value="2">12</option>
            <option value="2">13</option>
         </select>
      </div>
      
     
   </div>
   <div class="table-responsive">
	   <table class="table table-bordered table-hover bg-white text-center">
	      <tr style="font-weight: bold; white-space: nowrap">
	         <!-- username header-->
	         <td>No.</td>
	         <td class="col-md-1">바코드수량
	            <form editable-form="" name="nameform" onaftersave="table.saveColumn('issueqty')" ng-show="nameform.$visible">
	               <button type="submit" ng-disabled="nameform.$waiting" class="btn btn-info">save</button>
	               <button type="button" ng-disabled="nameform.$waiting" ng-click="nameform.$cancel()" class="btn btn-default">cancel</button>
	            </form>
	            <button ng-show="!nameform.$visible" ng-click="nameform.$show()" class="btn btn-link btn-default">
	               <em class="fa fa-pencil text-muted"></em>
	            </button>
	         </td>
	         <td>품번</td>
	         <td>품명</td>
	         <td>규격</td>
	         <td>단위</td>
	         <td>단가</td>
	         <td>주문량</td>
	         <td>창고</td>
	      </tr>
	      <tr ng-repeat="user in table.users">
	         <td>{{user.id}}</td>
	         <td>
	            <!-- editable username (text with validation)-->
	            <span editable-text="user.issueqty" e-name="name" e-form="nameform" onbeforesave="table.checkName($data)">{{ user.issueqty || &apos;empty&apos; }}</span>
	         </td>
	         <td>
	            <span>{{ user.name }}</span>
	         </td>
	         <td>
	            <span>{{ table.showGroup(user) }}</span>
	         </td>
	         <td>
	            <span>{{ table.showGroup(user) }}</span>
	         </td>
	         <td>
	            <span>{{ table.showGroup(user) }}</span>
	         </td>
	         <td>
	            <span>{{ table.showGroup(user) }}</span>
	         </td>
	         <td>
	            <span>{{ table.showGroup(user) }}</span>
	         </td>
	         <td>
	            <span>{{ table.showGroup(user) }}</span>
	         </td>
	         
	      </tr>
	   </table>
	   <!-- Editable table-->
   </div>
   <div class="btn-form pull-right">
      <button type="button" class="btn btn-success">바코드발행</button>
   </div>
</div>