<h4>거래처 조회</h4>
<div ng-controller="SupplierController as table" class="container-fluid">
   
   <div id="uigrid-demo" ui-grid="table.gridOptions1" ui-grid-pagination=""  class="table-uigrid text-sm"></div>   
</div>