<h4>사용자 조회
	<small>
		<ul>
			<li>WMS 사용자 정보를 조회합니다.</li>			
		</ul>
	</small>
</h4>
<div ng-controller="UserController" class="container-fluid">
   
  <!--  <div class="form-inline text-sm">
      <div class="col-sm-1 pl0">
         <select name="opt" ng-model="opt" class="form-control">
            <option value="">검색조건</option>
            <option value="no">사번</option>
            <option value="name">성명</option>
         </select>
      </div>
      <div class="form-group pl">
      	
         <input id="keyword" ng-model="keyword" type="text" placeholder="입력" class="form-control" size="20"
          ng-disabled="opt == null || opt.length < 1" enter-Event="searchItems(opt, keyword)"/>
      </div>
      <div class="form-group">      
      	<button href="#" ng-click="searchItems(opt, keyword)" class="btn btn-xs" 
      		ng-disabled="opt == null || opt.length < 1">
      	검색
      	</button>
      </div>
      <div class="form-group pull-right">      
      	<button href="#" ng-click="searchItems(null, null)" class="btn btn-xs">전체보기</button>
      	<button href="#" ng-click="alert('searching...')" class="btn btn-sm btn-success">품목추가</button>
      </div>	
   </div> -->
   
   <div id="uigrid-demo" ui-grid="gridOptions" ui-grid-pagination  class="table-uigrid text-sm"></div>
</div>