<div class="ngdialog-message" ng-controller="PoViewController as table">
	<h3>발주서 상세조회</h3>
	
	<div class="panel-body text-center text-sm table-responsive">
		<table class="table-bordered table-condensed">
			<tr>
				<td class="bg-gray">공급자</td>
				<td>32233 (주)래더트론</td>
				
				<td class="bg-gray">ATTN</td>
				<td>이윤익</td>
				
				<td class="bg-gray">TEL No.</td>
				<td>031-9999-9999</td>
				
				<td class="bg-gray">FAX No.</td>
				<td>031-9999-9999</td>
			</tr>
					
			<tr>
				<td class="bg-gray">Order No.(OP)</td>
				<td>15000004</td>
				
				<td class="bg-gray">OR</td>
				<td>14003045</td>
				
				<td class="bg-gray">DATE</td>
				<td>2015-10-02</td>
				<td></td>
				<td></td>
			</tr>
			
		</table>
	</div>
	
	<div id="uigrid-popup" ui-grid="table.gridOptions"  class="table-uigrid text-sm"></div>
	
	<div class="p text-right">
		<button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">닫기</button>
	</div>
</div>