<div class="ngdialog-message">
	<h3> 공통코드 등록 및 수정</h3>
	
	<div class="panel-body b">	
		<div class="row text-center">
			<label class="p"><input type="radio">품목구분</label>
			<label class="p"><input type="radio">입고구분</label>
			<label class="p"><input type="radio">출고구분</label>
		</div>
		
		<div class="row text-center">
			<table class="table">
				<tr>
					<td>코드명</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>출력명</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>코드설명</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>출력유무</td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>우선순위</td>
					<td><input type="text"></td>
				</tr>
			</table>
		</div>
		
		<div class="form-inline text-center">
			<button type="button" ng-click="confirm(confirmValue)" class="btn btn-primary mr">등록</button>
			<button type="button" ng-click="closeThisDialog('button')" class="btn btn-default">취소</button>
		</div>
	</div>
</div>